* {
  box-sizing: border-box;
}
.subs-box {
  position: relative;
  background-color: #c6c6c6;
  margin: 2em auto;
  padding: 2em 1em;
  width: 90%;
  min-height: 40px;
  color: #3b3b3b;
}
.subs-box span {
  position: absolute;
  right: 5px;
  top: 0px;
  font-size: 2em;
}
input,
button {
  height: 3em;
  outline: none;
  padding: 1em;
  border: none;
  display: inline;
}
input#subs-email {
  width: 80%;
  margin-right: 1em;
}
button {
  background-color: #666666;
  width: 100px;
}
.title-wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  margin-top: 6em;
}
.loc-img {
  width: 4em;
  height: 6em;
  margin-right: 1em;
  border: 1px solid black;
}
.date {
  color: red;
}
